*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -s {{.DockerSubnet}} ! -d {{.DockerSubnet}} -j MASQUERADE
#-A POSTROUTING -s {{.RktSubnet}} ! -d {{.RktSubnet}} -j MASQUERADE
-A POSTROUTING -s {{.ClusterSubnet}} -o eth0 -j MASQUERADE
COMMIT

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]
:DOCKER - [0:0]
:RKT - [0:0]
:PRIVATECLUSTER - [0:0]
:PRIVATEHOST - [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -i docker0 -j ACCEPT
-A INPUT -i gluon0 -j ACCEPT
-A INPUT -i weave -j ACCEPT
-A INPUT -p tcp --dport 22 -m state --state NEW,ESTABLISHED -j ACCEPT
-A INPUT -p tcp --dport 80 -m state --state NEW,ESTABLISHED -j ACCEPT
-A INPUT -p tcp --dport 443 -m state --state NEW,ESTABLISHED -j ACCEPT
-A INPUT -p tcp --dport 7088 -m state --state NEW,ESTABLISHED -j ACCEPT
-A INPUT -p tcp --dport 8200 -m state --state NEW,ESTABLISHED -j ACCEPT
{{ if .KubernetesAPIServer}}
-A INPUT -p tcp --dport {{.KubernetesAPIServerPort}} -m state --state NEW,ESTABLISHED -j ACCEPT
{{end}}

-A INPUT -p tcp --dport 8288 -m state --state NEW,ESTABLISHED -j PRIVATEHOST
-I FORWARD -p tcp --dport 8288 -m state --state NEW,ESTABLISHED -j PRIVATEHOST
-A INPUT -p tcp --dport 655 -j PRIVATEHOST
-A INPUT -p udp --dport 655 -j PRIVATEHOST
-A INPUT -p tcp --dport 2381 -j PRIVATEHOST
-A INPUT -p tcp --dport 6783 -j PRIVATEHOST
-A INPUT -p udp --dport 6783 -j PRIVATEHOST
-A INPUT -p udp --dport 6784 -j PRIVATEHOST

-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i {{.PrivateClusterDevice}} -j PRIVATECLUSTER
-A FORWARD -i {{.PrivateClusterDevice}} -o eth0 -s {{.ClusterSubnet}} -j ACCEPT
-A FORWARD -o {{.PrivateClusterDevice}} -i eth0 -d {{.ClusterSubnet}} -j ACCEPT

-A FORWARD -i {{.PrivateClusterDevice}} -o docker0 -j PRIVATECLUSTER
-A FORWARD -o docker0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -s {{.DockerSubnet}} -j ACCEPT
-A FORWARD -o docker0 -j DOCKER

-A FORWARD -i {{.PrivateClusterDevice}} -o gluon0 -j PRIVATECLUSTER
-A FORWARD -o gluon0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -s {{.RktSubnet}} -j ACCEPT
-A FORWARD -o gluon0 -p tcp --dport 80 -m state --state NEW,ESTABLISHED -j ACCEPT
-A FORWARD -o gluon0 -j RKT

-A OUTPUT -p tcp --sport 22 -m state --state ESTABLISHED -j ACCEPT
-A OUTPUT -j ACCEPT
COMMIT
