[Unit]
Description=Docker Application Container Engine
Requires=docker.socket
After=docker.socket

[Service]
ExecStart=/usr/bin/docker daemon \
    --ip={{.DockerIP}} \
    --iptables={{.IPTables}} \
    --ip-masq={{.IPMasq}} \
    --host=fd:// \
    --storage-driver=aufs

[Install]
WantedBy=multi-user.target
