apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{.CAPath}}
    server: {{.Server}}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: {{.UserName}}
  name: {{.ContextName}}
current-context: {{.ContextName}}
users:
- name: {{.UserName}}
  user:
    client-certificate: {{.ClientCertPath}}
    client-key: {{.ClientKeyPath}}
