[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

{{range .Requires }}
Requires={{.}}{{end}}
{{range .After }}
After={{.}}{{end}}

[Service]
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  --api-servers={{.APIServers}} \
  --cloud-provider= \
  --cluster-dns={{.ClusterDNS}} \
  --cluster-domain=cluster.local \
  --container-runtime=rkt \
  --network-plugin=cni \
  --network-plugin-dir=/etc/cni/net.d \
  --node-ip={{.NodeIP}} \
  --rkt-path=/usr/bin/rkt \
  --rkt-api-endpoint=localhost:15441 \
  --network-plugin=kubenet \
  --kubeconfig={{.KubeConfigPath}} \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --register-schedulable={{.RegisterSchedulable}} \
  --serialize-image-pulls=false \
  --tls-cert-file={{.CertPath}} \
  --tls-private-key-file={{.KeyPath}} \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target