apiVersion: v1
kind: Pod
metadata:
  labels:
    component: kube-addon-manager
    version: v6.2
  name: kube-addon-manager
  namespace: kube-system
spec:
  containers:
  - image: gcr.io/google-containers/kube-addon-manager:v6.2
    imagePullPolicy: IfNotPresent
    name: kube-addon-manager
    resources:
      requests:
        cpu: 5m
        memory: 50Mi
    volumeMounts:
    - mountPath: /etc/kubernetes/
      name: addons
      readOnly: true
  dnsPolicy: ClusterFirst
  hostNetwork: true
  restartPolicy: Always
  volumes:
  - hostPath:
      path: /etc/kubernetes/
    name: addons
