[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

{{range .Requires }}
Requires={{.}}{{end}}
{{range .After }}
After={{.}}{{end}}

[Service]
ExecStartPre=-/usr/bin/pkill -9 kube-proxy
ExecStart=/usr/bin/kube-proxy \
  --master={{.Master}} \
  --kubeconfig={{.KubeConfigPath}} \
  --proxy-mode=iptables \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target