[Service]
{{if .DiscoveryURL}}Environment="ETCD_DISCOVERY={{.DiscoveryURL}}"{{end}}
{{if .InitialCluster}}Environment="ETCD_INITIAL_CLUSTER={{.InitialCluster}}"{{end}}
{{if .InitialClusterState}}Environment="ETCD_INITIAL_CLUSTER_STATE={{.InitialClusterState}}"{{end}}
