# Test for an interactive shell.  There is no need to set anything
# past this point for scp and rcp, and it's important to refrain from
# outputting anything in those cases.
if [[ $- != *i* ]] ; then
	# Shell is non-interactive.  Be done now!
	return
fi

# Alter prompt
export PS1="\e[0;32m\u@$(cat /etc/environment | grep COREOS_PUBLIC_IPV4 | cut -d "=" -f 2) \e[0;34m\w \e[m$ "

# General
alias jq="docker run --rm -i realguess/jq:latest jq"

# Docker
alias dockercleancontainers="docker ps -a --no-trunc| grep 'Exit' | awk '{print \$1}' | xargs -L 1 -r docker rm"
alias dockerrmcontainers="docker ps -a --no-trunc |awk '{print \$1}' | xargs -L 1 -r docker rm -f"
alias dockercleanimages="docker images -a --no-trunc | grep none | awk '{print \$3}' | xargs -L 1 -r docker rmi"
alias dockerclean="dockercleancontainers && dockercleanimages"

# Etcd
alias cluster-health="etcdctl cluster-health"

# Fleet
alias fc="fleetctl cat"
alias fj="fleetctl journal"
alias fstart="fleetctl start"
alias fstop="fleetctl stop"
alias fdestroy="fleetctl destroy"
alias flm="fleetctl list-machines"
alias flu="fleetctl list-units"
alias flu-active="fleetctl list-units | grep -v inactive"
alias flu-inactive="fleetctl list-units | grep inactive"
alias flu-failed="fleetctl list-units | grep failed"
alias flu-running="fleetctl list-units | grep running"
alias wflm="watch fleetctl list-machines"
alias wflu="watch fleetctl list-units"
alias wflu-active="watch 'fleetctl list-units | grep -v inactive'"
alias wflu-inactive="watch 'fleetctl list-units | grep inactive'"
alias wflu-failed="watch 'fleetctl list-units | grep failed'"
alias wflu-running="watch 'fleetctl list-units | grep running'"

# Journalctl
alias jc="journalctl"
alias jcu="journalctl --unit"

function frestart() {
	fleetctl stop $@
	fleetctl start $@
}
