[Unit]
Description=fleet daemon

{{if .HaveEtcd}}
Requires=etcd2.service
After=etcd2.service
{{end}}

Wants=fleet.socket
After=fleet.socket

[Service]
Environment=GOMAXPROCS=1
ExecStart=/usr/bin/fleetd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target