[Unit]
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sh -c 'mkdir -p /home/core/bin'
ExecStartPre=/bin/sh -c '/usr/bin/docker pull {{.GluonImage}}'
ExecStartPre=/bin/sh -c 'test -e /home/core/bin/gluon || /usr/bin/docker run --rm -v /home/core/bin/:/destination/ {{.GluonImage}}'
ExecStart=/home/core/bin/gluon setup \
--docker-ip=${COREOS_PRIVATE_IPV4} \
--docker-subnet={{.DockerSubnet}} \
--rkt-subnet={{.RktSubnet}} \
--private-ip=${COREOS_PRIVATE_IPV4} \
--private-cluster-device={{.PrivateClusterDevice}} \
--weave-hostname={{.WeaveHostname}}
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
