[Unit]
After=network-online.target
After=docker.service
Description=Install Weave
Documentation=http://zettio.github.io/weave/
Requires=network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /opt/bin/
ExecStartPre=/usr/bin/curl --silent -L git.io/weave -o /opt/bin/weave
ExecStartPre=/usr/bin/chmod +x /opt/bin/weave
ExecStartPre=/usr/bin/docker pull zettio/weave:latest
ExecStartPre=/usr/bin/docker pull zettio/weavetools:latest
ExecStartPre=/usr/bin/docker pull zettio/weavedns:latest
ExecStartPre=/usr/bin/docker pull weaveworks/weaveexec:latest
ExecStart=/bin/echo Weave Installed
